.forecastFilter {
    display: flex;
    justify-content: space-between;

    &>.set_of_buttons {
        display: flex;
        gap: 15px;
    }

    button {
        background-color: rgba(79, 79, 79, 1);
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        color: rgba(255, 255, 255, 1);
        font-family: Montserrat;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        border-radius: 5px;
        padding: 7px 20px 9px;

        &.active {
            background-color: rgba(71, 147, 255, 1);
        }
    }
}